# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "787630f9b6be916c52a21b33b3e5fb25"
name = "Polychrome Image Optimizer"
application_url = "https://image-optimizer-app-production.up.railway.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_files,read_products,write_files,write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
